mat-card{
  width:100%;
  margin:auto;
}
mat-form-field,textarea{
  width:100%;
}
mat-spinner{
  margin: auto;
}
input[type="file"]{
visibility: hidden;
}
.image-preivew{
  height: 5rem;
  margin: 1rem 0;
}
.image-preivew img{
  height: 100%;
}
